.main{
    height: 60vh;
    background-image: url(../assets/svg/home-svg.svg);
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 1.5rem;
    position: relative;
}